@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 0.5s ease-in-out;
}
